@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=League+Spartan:wght@100..900&display=swap');

/* cores */
:root{
    --cor-1: #00000000;
    --cor-2: #b9b9b9;

    --fonte-1: Arimo, sans-serif;
    --fonte-2: Leagure Spartan, sans-serif;
    --fonte-3: Archivo, sans-serif;
}

body{
    width: 1440px solid;
    height: 1024px solid;
}

/* navegação começo */
.medi{
    margin-top: 66px;
    margin-left: 108px;
}

.navegas1{
    margin-left: 170px;
    text-decoration: none;
    color: black;
    font-family: var(--fonte-1);
    font-size: 19px;
    position: relative;
}

.navegas1::after{
    margin-top: -8px;
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #77c2dd;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.navegas1:hover::after{
    width: 100%;
}

.navegas2{
    padding-top: 5px;
    border-top:  3px solid black;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-family: var(--fonte-1);
    font-size: 19px;
}

.navegas3{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-family: var(--fonte-1);
    font-size: 19px;
    position: relative;
}

.navegas3::after{
    margin-top: -8px;
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #77c2dd;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.navegas3:hover::after{
    width: 100%;
}

.navegas4{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-family: var(--fonte-1);
    font-size: 19px;
    position: relative;
}

.navegas4::after{
    margin-top: -8px;
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #77c2dd;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.navegas4:hover::after{
    width: 100%;
}

nav a{
    margin-top: 73px;
    margin-left: 247px;
}
/*fim navegação*/

/* video começo */
.img1 iframe{
    margin-top: -40px;
    margin-left: 480px;
    margin-bottom: 40px;
}
/* video final */

/* texto1 começo */
.texto1{
    margin-top: 100px;
    margin-bottom: 129px;
}

.titulo1{
    font-family: var(--fonte-2);
    font-size: 50px;
    margin-left: 108px;
}

.texto1_text{
    font-family: var(--fonte-1);
    font-size: 24px;
    text-align: justify;
    margin-left: 108px;
    margin-right: 400px;
    padding-right: 480px;
}
/* texto1 final */

/* texto2 começo */
.texto2{
    margin-top: -520px;
    margin-bottom: 129px;
}

.titulo2{
    font-family: var(--fonte-2);
    font-size: 50px;
    text-align: right;
    margin-right: 160px;
}

.texto2_text{
    font-family: var(--fonte-1);
    font-size: 24px;
    text-align: justify;
    margin-left: 800px;
    margin-right: 108px;
    padding-left: 10px;
}
/* texto2 final */